<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand title" href="/">ATLAS <span>AI</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Basics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/finite-state">Finite State Machines <small class="dropdown-sub-item">(Intro)</small></a>
          <a class="dropdown-item" href="#">Hierarchical Finite State Machines <small class="dropdown-sub-item">(Intermediate)</small></a>
          <a class="dropdown-item" href="#">Behavior Trees <small class="dropdown-sub-item">(Advanced)</small></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Graph Search</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Graph Theory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Searching</a>
          <a class="dropdown-item" href="#">Navigation</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Case Studies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Flocking</a>
          <a class="dropdown-item" href="#">Other Case Study</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-padding"></div>
